{% extends 'base.j2' %}
{% from 'components/doctor.j2' import person_page %}

{% block title %} Врач Анастасия - {% endblock title %}

{% block pages %}
{{ person_page(
    fullname="Чеснокова Анастасия Анатольевна",
    about1="Врач стоматолог-хирург-имплантолог, главный врач клиники.",
    about2="Оказывает весь спектр услуг по имплантации, костной и мягкотканной пластике. Занимается удалением зубов любой сложности.",
    name="Анастасии",
    image="source/hdAnastasya.png",
    aboutme="Профессиональный стаж — 11 лет",
    citate="Дети — самые добрые и невероятно искренние пациенты. Необходимо преподнести всё как игру, стать ребёнку другом — и тогда стоматологические манипуляции пройдут легко, без боли и страха.",
    education=[
        "Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, стоматологический факультет (2022 г.)",
        "Ординатура по программе «Стоматология общей практики» (2022–2024 гг.)",
        "Первый Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова (повышение квалификации, 2022 г.)"
    ],
    courses=[
        "Основы принятия решений в имплантологии: хирургический и ортопедический аспекты. Nobel Biocare.",
        "Пародонтологическое лечение аппаратом Vector.",
        "Современная концепция эндодонтического лечения. К.м.н. Болячина А.В.",
        "Анестезирующие препараты Septodont в амбулаторной стоматологической практике.",
        "Система Opalescence. Сочетание офисного и домашнего отбеливания.",
        "Отбеливание системой ZOOM.",
        "Особенности применения нанокомпозитов на современном терапевтическом приеме.",
        "«Содружество» цвета и формы до и после реставрации. Эстетическая реставрация — путь от простого к сложному.",
        "Icon-Infiltration Concept. Валлекс М., Хощевская И.А.",
        "Лечить нельзя помиловать. Расставить приоритеты правильно. Болячин А.В. Nobel. Сергей Якимов.",
        "Имплантация от А до Я. СТОМУС.",
        "Каждый год является участницей стоматологических выставок и конференций DentalExpo.",
        "Планирование имплантологического лечения: ортопедический аспект. Nobel. Сергей Якимов. 2016.",
        "Участница 2 Балтийского Имплантологического симпозиума. Рига. Латвия. 14—15 октября 2016."
    ],
    certificates=[
        "source/certificates/anastasia/1.webp",
        "source/certificates/anastasia/2.webp",
        "source/certificates/anastasia/3.webp",
        "source/certificates/anastasia/4.webp"
    ]
) }}
{% endblock pages %}