{% extends 'base.j2' %}
{% from 'components/doctor.j2' import person_page %}

{% block title %} Врач Дарья - {% endblock title %}

{% block pages %}
{{ person_page(
    fullname="Хворостянская Дарья Сергеевна",
    about1="Ортодонт, стоматолог",
    about2="В современной стоматологии можно исправить прикус и создать безупречную улыбку в любом возрасте с помощью новых ортодонтических методик. Благодаря постоянному прохождению обучений, я подхожу комплексно к лечению, делая его комфортным и быстрым.",
    name="Дарье",
    image="source/hdDaria.png",
    aboutme="Профессиональный стаж — 4 года",
    citate="Главное — индивидуальный подход и доверие. Только так можно достичь идеального результата при ортодонтическом лечении.",
    education=[
        "Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова — стоматология (2020 г.)",
        "Первый Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова — ординатура по ортодонтии (2022 г.)"
    ],
    courses=[
        "Симпозиум «Инновационные цифровые технологии в стоматологической практике» (2019 г.)",
        "Семинар Д. А. Кордакова для ортодонтов «Непрямая фиксация» (2020 г.)",
        "Флексы как прогрессивный метод лечения в современной ортодонтии (2021 г.)",
        "Рождественские встречи: Дети и брекеты. Ormco (2022 г.)",
        "Диагностика дисфункций ВНЧС в ортодонтической практике. Ormco (2022 г.)",
        "Семинар «От винта! Применение минивинтов в ортодонтическом лечении». Ormco (2022 г.)",
        "Ортодонт эксперт. Уровень 1 — как грамотно начать лечение пациента (14–17 июля 2022 г.)",
        "Ортодонт эксперт. Уровень 2 — брекеты и элайнеры (27–30 октября 2022 г.)",
        "Элайнеры от А до Я (2023 г.)",
        "Практический курс «Я — ортодонт» от Михаила Есиповича (2023 г.)",
        "Индивидуальное обучение от Татьяны Паляничкиной «Элайнеры. Новые возможности» (2023 г.)",
        "Вебинары по лечению детей от Е. Бородиной (2023 г.)"
    ],
    certificates=[
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_64a13a4f3c5012.66748224.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eafc3979882.52600178.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c5dc2474.41615016.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c7de6ab1.01803921.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c13f1ab4.70210677.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c16f3cf4.61107455.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c207e912.44996705.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c850d7b1.99466996.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c956f677.68047344.webp",
        "source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0cca09570.04634998.webp"
    ]
) }}
{% endblock pages %}