{% extends 'base.j2' %}
{% from 'components/doctor.j2' import person_page %}

{% block title %} Врач Жадан Анастасия - {% endblock title %}

{% block pages %}
{{ person_page(
    fullname="Жадан Анастасия Антоновна",
    about1="Пародонтолог, стоматолог, стоматолог-ортопед",
    about2="Жадан Анастасия Антоновна является стоматологом-ортопедом, а также работает в сфере пародонтологии. Вы можете записаться к Анастасии Жадан, если вам необходимо заменить утраченный зуб или если какой-либо из зубов находится в таком состоянии, что при помощи обычной пломбы его не спасти. Протезирование предполагает обязательную санацию зубов, так что перед обращением к ортопеду рекомендуется посетить стоматолога-терапевта.",
    name="Анастасии",
    image="source/hdJadan.png",
    aboutme="Профессиональный стаж — 11 лет",
    citate="Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату",
    education=[
        "Выпускница Санкт-Петербургского Государственного Медицинского Университета им.акад. И.П. Павлова.",
        "Интернатуру проходила в Северо-Западном Государственном Медицинском Университете имени И.И. Мечникова.",
        "Лечит в Jadan Dental"
    ],
    courses=[
        "Основы принятия решений в имплантологии: хирургический и ортопедический аспекты. Nobel Biocare.",
        "Пародонтологическое лечение аппаратом Vector.",
        "Современная концепция эндодонтического лечения. К.м.н. Болячина А.В.",
        "Анестезирующие препараты Septodont в амбулаторной стоматологической практике.",
        "Система Opalescence. Сочетание офисного и домашнего отбеливания.",
        "Отбеливание системой ZOOM.",
        "Особенности применения нанокомпозитов на современном терапевтическом приеме.",
        "«Содружество» цвета и формы до и после реставрации. Эстетическая реставрация — путь от простого к сложному.",
        "Icon-Infiltration Concept. Валлекс М., Хощевская И.А.",
        "Лечить нельзя помиловать. Расставить приоритеты правильно. Болячин А.В. Nobel. Сергей Якимов.",
        "Имплантация от А до Я. СТОМУС.",
        "Каждый год является участницей стоматологических выставок и конференций DentalExpo.",
        "Планирование имплантологического лечения: ортопедический аспект. Nobel. Сергей Якимов. 2016.",
        "Участница 2 Балтийского Имплантологического симпозиума. Рига. Латвия. 14—15 октября 2016."
    ],
    certificates=[
        "source/certificates/jadan/1.webp",
        "source/certificates/jadan/2.webp",
        "source/certificates/jadan/3.webp"
    ]
) }}
{% endblock pages %}