{% extends 'base.j2' %}
{% from 'components/doctor.j2' import person_page %}

{% block title %} Врач Игорь - {% endblock title %}

{% block pages %}
{{ person_page(
    fullname="Жадан Игорь Сергеевич",
    about1="Врач стоматолог-хирург-имплантолог, главный врач клиники.",
    about2="Оказывает весь спектр услуг по имплантации, костной и мягкотканной пластике. Занимается удалением зубов любой сложности.",
    name="Игорю",
    image="source/hdIgor.png",
    aboutme="Профессиональный стаж — 11 лет",
    citate="Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату",
    education=[
        "Закончил Днепропетровскую Государственную Медицинскую академию",
        "Закончил Днепропетровскую Государственную Медицинскую академию",
        "Закончил Днепропетровскую Государственную Медицинскую академию"
    ],
    courses=[
        "Участник 2 Балтийского Имплантологического симпозиума. Рига. Латвия. 14—15 октября 2016.",
        "Основы принятия решений в имплантологии: хирургический и ортопедический аспекты. Nobel Biocare. Сергей Якимов.",
        "Синуслифтинг от А до Я. Nobel Biocare. Сергей Якимов.",
        "Имплантация от А до Я. На базе учебного цента СТОМУС."
    ],
    certificates=[
        "source/certificates/igor/original_5e822813b56ffa2cd9502600_649eb0d4e39d16.32065679.webp"
    ]
) }}
{% endblock pages %}