{% from 'components/header.j2' import header %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}Jadan Dental</title>

    <link rel="icon" href="{{ url_for('static', filename='source/favicon/48x48.png') }}" sizes="48x48" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='source/favicon/32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='source/favicon/16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='source/favicon/svg.svg') }}" type="image/svg+xml">

    <meta name="apple-mobile-web-app-status-bar-style" content="#04294A">
    <meta name="theme-color" content="#04294A">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://lbvo.ru/utils/init.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="popup-overlay flex" id="withsendtext">
            <div class="popup-wrapper flex">
                <div class="left-side flex-cl">
                    <h3>Записаться</h3>
                    <div class="button-wr flex-cl">
                        <p>Наберите по номеру</p>
                        <a href="https://api.whatsapp.com/send/?phone=79111372073&text&type=phone_number&app_absent=0">
                            <h4 style="margin-bottom: 18px;">+7 (911) 137-20-73</h4>
                        </a>
                        <p>либо напишите нам</p>
                        <a href="">
                            <h4>Whatsapp</h4>
                        </a>
                        <a href="">
                            <h4>Telegram</h4>
                        </a>
                    </div>
                </div>
                <div class="right-side flex-cl">
                    <img class="disable-popup" id="disable-x" src="{{ url_for('static', filename='source/close.svg') }}">
                    <h3>Оставить заявку</h3>
                    <form action="/send" method="post" class="flex-cl">
                        <label for="name">Ваше имя*</label>
                        <input type="text" id="name" name="name" placeholder="Дмитрий" autocomplete="name" required>
                        <label for="phone">Номер телефона*</label>
                        <input type="tel" id="phone" name="phone" placeholder="+7 (▁▁▁) ▁▁▁ ▁▁ ▁▁" pattern="\+7 \(\d{3}\) \d{3} \d{2} \d{2}" autocomplete="tel" required>
                        <label for="reason">Комментарий к обращению</label>
                        <input type="text" id="reason" name="reason" placeholder="Ваша причина">
                        <div class="submit-flex flex">
                            <p style="display: none;">Мы перезвоним вам на следующий день</p>
                            <input type="submit" value="Отправить заявку">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% block header %}
        {{ header() }}
        {% endblock header %}

        <div class="pages">
            {% block pages %}{% endblock pages %}
        </div>
        {% block footer %}
        <footer class="flex pattern-bg">
            <div class="left-side flex">
                <a class="link logo-big" href="/">
                    <img id="logoGiantSymbol" src="{{ url_for('static', filename='source/logoGiantSymbol.svg') }}">
                </a>
                <div class="left-column flex-cl">
                    <a class="link" href="/">
                        <img id="logoGiantText" src="{{ url_for('static', filename='source/logoGiantText.svg') }}">
                    </a>
                    <div class="flex-cl">
                        <a class="link" href="/#services">
                            Услуги
                        </a>
                        <a class="link" href="/team">
                            Наша команда
                        </a>
                        <a class="link" href="/contacts">
                            Контакты
                        </a>
                        <a class="link" href="/client">
                            Для пациентов
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-side flex-cl">
                <div class="top-row flex-cl">
                    <a class="link" href="tel:+79111372073">
                        <h3>+7 (911) 137-20-73</h3>
                    </a>
                    <a class="link" href="contact">
                        WhatsApp
                    </a>
                    <a class="link" href="contact">
                        Telegram
                    </a>
                </div>
                <div class="bottom-row flex-cl">
                    <a class="link" href="mailto:info@jadandental.ru">
                        info@jadandental.ru
                    </a>
                    <a class="link" href="/contacts">
                        г. Санкт-Петербург, Приморский просп., 62, корп. 1
                    </a>
                </div>
            </div>
        </footer>
        {% endblock footer %}

    </div>
    
    {% block script %}

    {% endblock script %}

    <script>
    const enablePopupElements = document.getElementsByClassName('enable-popup');
    for (let i = 0; i < enablePopupElements.length; i++) {
        enablePopupElements[i].addEventListener('click', function() {
            const popup = document.querySelector('.popup-overlay');
            const popupId = popup.id;
            if (popupId === 'withsendtext') {
                comment = "{%block sendtext %}{% endblock sendtext %}";
                document.querySelector('input[name="reason"]').value = comment;
            }
            document.body.style.overflow = 'hidden';
            popup.classList.add('popup-visible');

            // смена цвета темы
            const themeMetaTag = document.querySelector('meta[name="theme-color"]');
            if (themeMetaTag || window.scrollY > 10) {
                themeMetaTag.setAttribute('content', '#ffffff');
            }
            else {
                themeMetaTag.setAttribute('content', '#02192C');
            }
        });
    }

    const disablePopupElements = document.getElementsByClassName('disable-popup');
    for (let i = 0; i < disablePopupElements.length; i++) {
        disablePopupElements[i].addEventListener('click', function() {
            closePopup();
        });
    }

    document.addEventListener('keydown', function(event) {
        if (event.key === 'Escape') {
            closePopup();
        }
    });

    document.querySelector('.popup-overlay').addEventListener('click', function(event) {
        if (event.target === event.currentTarget) {
            closePopup();
        }
    });

    function closePopup() {
        document.body.style.overflow = 'auto';
        document.querySelector('.popup-overlay').classList.remove('popup-visible');

        const themeMetaTag = document.querySelector('meta[name="theme-color"]');
        if (themeMetaTag || window.scrollY > 10) {
            themeMetaTag.setAttribute('content', '#04294A');
        }
        if (themeMetaTag || window.scrollY < 10) {
            themeMetaTag.setAttribute('content', '#ffffff');
        }
    }

    function updateImageSource() {
        const bigSvg = document.getElementById('svg-big');
        const smallSvg = document.getElementById('svg-small');

        if (window.innerWidth < 1020) {
            bigSvg.style.display = 'none';
            smallSvg.style.display = 'block';
        } else {
            bigSvg.style.display = 'block';
            smallSvg.style.display = 'none';
        }
    }

    window.addEventListener('resize', updateImageSource);
    updateImageSource();

    const phoneInputs = document.querySelectorAll('input[type="tel"]');

    phoneInputs.forEach(function(phoneInput) {
        phoneInput.addEventListener('input', function(e) {
            let x = e.target.value.replace(/\D/g, '').slice(0, 11);
            let formattedValue = '';

            if (x.length > 0) {
                formattedValue = '+7 ';
            }
            if (x.length > 1) {
                formattedValue += '(' + x.substring(1, 4);
            }
            if (x.length >= 5) {
                formattedValue += ') ' + x.substring(4, 7);
            }
            if (x.length >= 8) {
                formattedValue += ' ' + x.substring(7, 9);
            }
            if (x.length >= 10) {
                formattedValue += ' ' + x.substring(9, 11);
            }

            e.target.value = formattedValue;
        });
    });


    const header = document.querySelector('header');

    function updateHeaderOnScroll() {
    if (window.scrollY > 10) {
        header.classList.add('scrolled');
        const themeMetaTag = document.querySelector('meta[name="theme-color"]');
            if (themeMetaTag) {
                themeMetaTag.setAttribute('content', '#04294A');
            }
    } else {
        header.classList.remove('scrolled');
        const themeMetaTag = document.querySelector('meta[name="theme-color"]');
            if (themeMetaTag) {
                themeMetaTag.setAttribute('content', '#04294A');
            }
    }
    }

    window.addEventListener('scroll', updateHeaderOnScroll);
    window.addEventListener('load', updateHeaderOnScroll);

    </script>
</body>
</html>