{% extends 'base.html' %}

{% block title %} Для пациентов - {% endblock title %}


{% block pages %}

<div class="page-1 page-1-alternative flex pattern-bg">
    <div class="left-side flex-cl">
        <h1>Для пациентов</h1>
        <div class="button flex">
            <a href="/">
                <button class="fill white">Вернуться на главную</button>
            </a>
        </div>
    </div>
    <!-- <img class="bg-pattern" src="{{ url_for('static', filename='source/bg-pattern.png') }}" alt=""> -->

</div>
<div class="page-2-alternative flex">
    <div class="text-wrapper flex-cl">

                    <!-- СЮДА ТЕКСТ ДЛЯ ЗАПОЛНЕНИЯ -->


        <h1>Заголовок</h1>
        <p>В первую очередь, мы – команда, поэтому в лечении пациентов принимают участие специалисты разных областей стоматологии. Мы выстраиваем наиболее продуктивный план лечения с прогнозированным результатом. Варианты лечения всегда подбираются с учетом особенности каждого случая и в соответствии с эстетическими и функциональными пожеланиями пациента.
        <p>В первую очередь, мы – команда, поэтому в лечении пациентов принимают участие специалисты разных областей стоматологии. Мы выстраиваем наиболее продуктивный план лечения с прогнозированным результатом. Варианты лечения всегда подбираются с учетом особенности каждого случая и в соответствии с эстетическими и функциональными пожеланиями пациента.В первую очередь, мы – команда, поэтому в лечении пациентов принимают участие специалисты разных областей стоматологии. Мы выстраиваем наиболее продуктивный план лечения с прогнозированным результатом. Варианты лечения всегда подбираются с учетом особенности каждого случая и в соответствии с эстетическими и функциональными пожеланиями пациента.</p></p>
    
    </div>
</div>
{% endblock pages %}