{% extends 'person-base.html' %}

{% block title %} Врач Дарья - {% endblock title %}

{% block fullname %}
Хворостянская Дарья Сергеевна
{% endblock fullname %}

{% block image %}
<img src="{{ url_for('static', filename='source/hdDaria.png') }}">
{% endblock image %}

{% block name %}
Дарье
{% endblock name %}

{% block about1 %} Ортодонт, стоматолог {% endblock about1 %}

{% block about2 %}
В современной стоматологии можно исправить прикус и создать безупречную улыбку в любом возрасте с помощью новых ортодонтических методик. Благодаря постоянному прохождению обучений, я подхожу комплексно к лечению, делая его комфортным и быстрым.
{% endblock about2 %}

{% block certificates %}
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_64a13a4f3c5012.66748224.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eafc3979882.52600178.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c5dc2474.41615016.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c7de6ab1.01803921.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c13f1ab4.70210677.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c16f3cf4.61107455.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c207e912.44996705.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c850d7b1.99466996.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0c956f677.68047344.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/daria/original_649e9f320fdac853cb088b5e_649eb0cca09570.04634998.webp') }}">
{% endblock certificates %}

{% block education %}
<div class="point">
    <div class="educt"></div>
    <p>Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова — стоматология (2020 г.)</p>
</div>
<div class="point">
    <div class="educt"></div>
    <p>Первый Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова — ординатура по ортодонтии (2022 г.)</p>
</div>
{% endblock education %}

{% block aboutme %} Профессиональный стаж — 4 года {% endblock aboutme %}

{% block citate %} 
Главное — индивидуальный подход и доверие. Только так можно достичь идеального результата при ортодонтическом лечении.
{% endblock citate %}

{% block courses %}
<li>Симпозиум «Инновационные цифровые технологии в стоматологической практике» (2019 г.)</li>
<li>Семинар Д. А. Кордакова для ортодонтов «Непрямая фиксация» (2020 г.)</li>
<li>Флексы как прогрессивный метод лечения в современной ортодонтии (2021 г.)</li>
<li>Рождественские встречи: Дети и брекеты. Ormco (2022 г.)</li>
<li>Диагностика дисфункций ВНЧС в ортодонтической практике. Ormco (2022 г.)</li>
<li>Семинар «От винта! Применение минивинтов в ортодонтическом лечении». Ormco (2022 г.)</li>
<li>Ортодонт эксперт. Уровень 1 — как грамотно начать лечение пациента (14–17 июля 2022 г.)</li>
<li>Ортодонт эксперт. Уровень 2 — брекеты и элайнеры (27–30 октября 2022 г.)</li>
<li>Элайнеры от А до Я (2023 г.)</li>
<li>Практический курс «Я — ортодонт» от Михаила Есиповича (2023 г.)</li>
<li>Индивидуальное обучение от Татьяны Паляничкиной «Элайнеры. Новые возможности» (2023 г.)</li>
<li>Вебинары по лечению детей от Е. Бородиной (2023 г.)</li>
{% endblock courses %}

{% block sendtext %}Хочу записаться к Дарье{% endblock sendtext %}