{% extends 'person-base.html' %}

{% block title %} Врач Анастасия - {% endblock title %}

{% block fullname %}
Чеснокова Анастасия Анатольевна
{% endblock fullname %}

{% block image %}
<img src="{{ url_for('static', filename='source/hdAnastasya.png') }}">
{% endblock image %}

{% block name %}
Анастасии
{% endblock name %}

{% block about1 %} Врач стоматолог-хирург-имплантолог, главный врач клиники. {% endblock about1 %}

{% block about2 %}
Оказывает весь спектр услуг по имплантации, костной и мягкотканной пластике. Занимается удалением зубов любой сложности.
{% endblock about2 %}

{% block certificates %}
<img src="{{ url_for('static', filename='source/certificates/anastasia/1.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/anastasia/2.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/anastasia/3.webp') }}">
<img src="{{ url_for('static', filename='source/certificates/anastasia/4.webp') }}">
{% endblock certificates %}

{% block education %}
<div class="point">
    <div class="educt"></div>
    <p>Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова, стоматологический факультет (2022 г.)</p>
</div>
<div class="point">
    <div class="educt"></div>
    <p>Ординатура по программе «Стоматология общей практики» (2022–2024 гг.)</p>
</div>
<div class="point">
    <div class="educt"></div>
    <p>Первый Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова (повышение квалификации, 2022 г.)</p>
</div>
{% endblock education %}

{% block aboutme %} Профессиональный стаж — 11 лет {% endblock aboutme %}

{% block citate %} 
Дети — самые добрые и невероятно искренние пациенты. Необходимо преподнести всё как игру, стать ребёнку другом — и тогда стоматологические манипуляции пройдут легко, без боли и страха.
{% endblock citate %}

{% block courses %}
<li>Основы принятия решений в имплантологии: хирургический и ортопедический аспекты. Nobel Biocare.</li>
<li>Пародонтологическое лечение аппаратом Vector.</li>
<li>Современная концепция эндодонтического лечения. К.м.н. Болячина А.В.</li>
<li>Анестезирующие препараты Septodont в амбулаторной стоматологической практике.</li>
<li>Система Opalescence. Сочетание офисного и домашнего отбеливания.</li>
<li>Отбеливание системой ZOOM.</li>
<li>Особенности применения нанокомпозитов на современном терапевтическом приеме.</li>
<li>«Содружество» цвета и формы до и после реставрации. Эстетическая реставрация — путь от простого к сложному.</li>
<li>Icon-Infiltration Concept. Валлекс М., Хощевская И.А.</li>
<li>Лечить нельзя помиловать. Расставить приоритеты правильно. Болячин А.В. Nobel. Сергей Якимов.</li>
<li>Имплантация от А до Я. СТОМУС.</li>
<li>Каждый год является участницей стоматологических выставок и конференций DentalExpo.</li>
<li>Планирование имплантологического лечения: ортопедический аспект. Nobel. Сергей Якимов. 2016.</li>
<li>Участница 2 Балтийского Имплантологического симпозиума. Рига. Латвия. 14—15 октября 2016.</li>
{% endblock courses %}

{% block sendtext %}Хочу записаться к Анастасии {% endblock sendtext %}