{% extends 'person-base.html' %}

<!-- Заголовок страницы -->
{% block title %} Врач Игорь - {% endblock title %}


{% block fullname %}
Жадан Игорь Сергеевич
{% endblock fullname %}

{% block image %}
<img src="{{ url_for('static', filename='source/hdIgor.png') }}">
{% endblock image %}

<!-- Записаться к ... -->
{% block name %}
Игорю
{% endblock name %}

{% block about1 %} Врач стоматолог-хирург-имплантолог, главный врач клиники. {% endblock about1 %}

{% block about2 %}
Оказывает весь спектр услуг по имплантации, костной и мягкотканной пластике. Занимается удалением зубов любой сложности.
{% endblock about2 %}

<!-- Картинки сертификатов -->
{% block certificates %}
<img src="{{ url_for('static', filename='source/certificates/igor/original_5e822813b56ffa2cd9502600_649eb0d4e39d16.32065679.webp') }}">
{% endblock certificates %}

{% block education %}
<div class="point">
    <div class="educt"></div>
    <p>Закончил Днепропетровскую Государственную Медицинскую академию</p>
</div>
<div class="point">
    <div class="educt"></div>
    <p>Закончил Днепропетровскую Государственную Медицинскую академию</p>
</div>
<div class="point">
    <div class="educt"></div>
    <p>Закончил Днепропетровскую Государственную Медицинскую академию</p>
</div>
{% endblock education %}


{% block aboutme %} Профессиональный стаж — 11 лет {% endblock aboutme %}

{% block citate %} 
Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату
{% endblock citate %} 


{% block courses %}
<li>
    Участник 2 Балтийского Имплантологического симпозиума. Рига. Латвия. 14—15 октября 2016.
</li>
<li>
    Основы принятия решений в имплантологии: хирургический и ортопедический аспекты. Nobel Biocare. Сергей Якимов.
</li>
<li>
    Синуслифтинг от А до Я. Nobel Biocare. Сергей Якимов.
</li>
<li>
    Имплантация от А до Я. На базе учебного цента СТОМУС.
</li>
{% endblock courses %} 


{% block sendtext %}Хочу записаться к Игорю{% endblock sendtext %}