{% extends 'base.j2' %}

{% block title %} Элайнеры JD-LINE - {% endblock title %}


{% block pages %}

<div class="page-1 page-1-alternative flex pattern-bg">
    <div class="left-side flex-cl flex-cl">
        <h1>Наша линейка элайнеров JD-LINE</h1>
        <img src="{{ url_for('static', filename='source/hdEliner.png') }}">
        <p>Элайнеры – это прозрачные каппы, применяемые для ортодонтической коррекции – 100процентная альтернатива брекетам. Они практически не заметны на зубах, так как полностью прозрачны. Снимаются и позволяют выполнить полноценный уход за полостью рта. </p>
        <div class="button flex">
            <a class="enable-popup">
                <button class="fill white">Связаться с нами</button>
            </a>
            <a href="#page-2">
                <button class="outline blue">Читать подробнее</button>
            </a>
        </div>
    </div>
</div>
<div id="page-2" class="page-2-alternative flex">
    <div class="text-wrapper flex-cl">
        <h1>Технологичное и предсказуемое лечение</h1>
        <p>Перед началом терапии моделируется результат: вы заранее видите свою будущую улыбку. Элайнеры можно менять самостоятельно — не нужно ждать активации у врача, как в случае с брекетами. Визиты к ортодонту сокращаются до одного раза в 2–4 месяца, а контроль лечения возможен дистанционно. Это особенно удобно для тех, кто часто в разъездах.</p>

        <h1>Элайнеры — комфортная альтернатива брекетам</h1>
        <p>Прозрачные каппы практически незаметны на зубах, легко снимаются и позволяют не ограничивать себя в питании — орехи, яблоки и стейки снова в меню. Их не нужно чистить после каждого приема пищи, а уход за полостью рта остаётся полноценным. Качество речи восстанавливается уже через пару недель, а благодаря мягкому воздействию элайнеры не царапают десны и губы, вызывая лишь лёгкое давление на зубы.</p>
    
        <h1>Индивидуальный подход и высокая эффективность</h1>
        <p>Элайнеры задают точную траекторию движения зубов, ускоряя процесс коррекции. Они воздействуют точечно — можно корректировать отдельные зубы без влияния на соседние. Каппы изготавливаются индивидуально, вручную подрезаются, а система JD-line использует КТ-снимки, учитывая анатомию челюстного сустава и костной ткани. Такой подход делает лечение максимально точным, функциональным и быстрым.</p>
        <div class="button flex gap-12">
            <a class="enable-popup">
                <button class="fill blue">Обратиться по поводу элайнеров</button>
            </a>
            <a href="#page-2">
                <button class="outline white">Читать подробнее</button>
            </a>
        </div>
    </div>
</div>
{% endblock pages %}

{% block sendtext %} Заинтересован элайнерами JD-LINE {% endblock sendtext %}