{% extends 'base.html' %}

{% block title %} Человек {% endblock title %}


{% block pages %}

<div class="page-1 flex pattern-bg">
    <div class="left-side flex-cl">
        <h1>{% block fullname %} Жадан Игорь Сергеевич {% endblock fullname %}</h1>
        <p><b>{% block about1 %} Врач стоматолог-хирург-имплантолог, главный врач клиники. {% endblock about1 %}</b></p>
        <p>{% block about2 %}Оказывает весь спектр услуг по имплантации, костной и мягкотканной пластике. Занимается удалением зубов любой сложности. {% endblock about2 %}</p>
        <div class="button flex">
            <a class="enable-popup">
                <button class="fill white">Записаться к {% block name %} {% endblock name %}</button>
            </a>
            <a href="/team">
                <button class="outline blue">Смотреть всю команду</button>
            </a>
        </div>
    </div>
    <div class="right-side flex">
        {% block image %}
        <img src="{{ url_for('static', filename='source/hdIgor.png') }}">
        {% endblock image %}
        <div class="divider-img"></div>
    </div>
    <!-- <img class="bg-pattern" src="{{ url_for('static', filename='source/bg-pattern.png') }}" alt=""> -->

</div>
<div class="page-2-person flex">
    <div class="left-side flex-cl">
        <div class="text flex-cl">
            <h1>Образование</h1>
            <div class="education flex-cl">
                {% block education %}
                <div class="point">
                    <div class="educt"></div>
                    <p>Закончил Днепропетровскую Государственную Медицинскую академию</p>
                </div>
                <div class="point">
                    <div class="educt"></div>
                    <p>Закончил Днепропетровскую Государственную Медицинскую академию</p>
                </div>
                <div class="point">
                    <div class="educt"></div>
                    <p>Закончил Днепропетровскую Государственную Медицинскую академию</p>
                </div>
                {% endblock education %}
            </div>
            <div class="gap-18"></div>
            <p><b>Сертификаты</b></p>
            <div class="certificates flex">
                {% block certificates %}
                {% endblock certificates %}
            </div>
        </div>
    </div>
    <div class="right-side flex-cl">
        <h1>Обо мне</h1>
        <p><b>
            {% block aboutme %} Профессиональный стаж — 11 лет {% endblock aboutme %} 
        </b></p> 
        <p>
            {% block citate %} 
            Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату Сюда можно вставить какую нибудь цитату
            {% endblock citate %} 
        </p>

        <div class="gap-18"></div>

        <p>
            <b>Курсов повышения квалификации, стоматологические выставки и симпозиумы</b>
        </p>
        <p>
            {% block courses %}
            <li>
                Участник 2 Балтийского Имплантологического симпозиума. Рига. Латвия. 14—15 октября 2016.
            </li>
            <li>
                Основы принятия решений в имплантологии: хирургический и ортопедический аспекты. Nobel Biocare. Сергей Якимов.
            </li>
            <li>
                Синуслифтинг от А до Я. Nobel Biocare. Сергей Якимов.
            </li>
            <li>
                Имплантация от А до Я. На базе учебного цента СТОМУС.
            </li>
            {% endblock courses %} 
        </p>
    </div>
</div>
<!-- <div class="page-3 flex">
    <div class="right-side"></div>
    <div class="left-side"></div>
</div> -->

{% endblock pages %}